/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */
    /* some basic css resetting */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;      
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a { text-decoration: none; }
li { list-style: none; }

:root {
    --animation-timing: all 0.25s ease-in-out;
    --nav-height: 6rem;
    --black-shadow: 0px 0px 10px 5px rgb(0,0,0,0.5);
    --red: #873627;
    --mustard: #BAB02D;
    --blue: #1D77A5;
    --bone-white: #F4F4F4; 
    --pink: #e6d7d4;
}

/* disables transition effect */
.no-transition * {
    transition: none !important;
}

html, body, main {
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

html, body {
    overflow-x: clip;
}

body {
    height: 100vh;
    background: url(../images/background.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -10;
}


/* ==========HEADER============= */

.header-area {
    position: fixed;
    height: var(--nav-height);
    top: 0;
    width: 100vw;
    display: flex;
    background: linear-gradient(to bottom, rgb(0,0,0,0.75), transparent);
    z-index: 100;
    transition: var(--animation-timing);
}

.header-area.hide {
    top: calc(var(--nav-height) * -1.1);
}


/* ==========LOGO============= */


.business-logo {
    height: calc(var(--nav-height) - 1rem);
    aspect-ratio: 1/1;
    position: absolute;
    margin: 0.5rem 1rem;
    align-self: center;
    border-radius: 50%;
    box-shadow: var(--black-shadow);
    z-index: 100;
    cursor:pointer;
    transition: var(--animation-timing);
}

.business-logo img {
    width: 100%;
    border-radius: 50%;
}

.business-logo:hover {
    box-shadow: 0px 0px 5px 5px var(--red);
}

.business-logo:active {
    box-shadow: 0px 0px 10px 5px var(--mustard);
}

/* ==========NAVIGATION============= */

nav {
    position: relative;
    height: var(--nav-height);
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    transition: var(--animation-timing);
}

nav ul {
    position: absolute;
    top: 0;
    padding-top: calc(var(--nav-height) + 1rem);
    height: 0;
    width: 100vw;
    max-width: 1366px;
    text-align: center;
    overflow-y: hidden;
    transition: var(--animation-timing);
}

nav ul li {
    line-height: 4rem;
    font-size: 1.5rem;
    border-top: 2px solid rgb(255, 255, 255, 0.5);
    text-shadow: 2px 2px 2px rgb(0,0,0,1);
}

nav ul li a, nav ul li a:visited {
    color: var(--bone-white);
}

nav ul li:hover * {
    background: var(--bone-white);
    color: var(--red);
}

nav ul li:last-child h2 {
    background: var(--mustard);
    box-shadow: 2px 2px 2px 0px black;
    width: 10rem;
    margin: 2rem auto;
    transform: rotate(-5deg);  
}

nav ul li:last-child:hover h2 {
    transform:rotate(5deg);
    background: var(--blue);
    color: var(--mustard);
}

/* Hamburger menu */

.hamburger-menu {
    height: calc(var(--nav-height) * 0.66);
    aspect-ratio: 1/1;
    position: absolute;
    right: 0;
    margin: 1rem;
    z-index: 100;
    filter: drop-shadow(0px 0px 10px rgb(0,0,0,1));
    cursor: pointer;
}

.hamburger-menu:has(input:checked) ~ ul {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0,0,0,0.5) 30%, transparent);
    backdrop-filter: blur(5px);
}

/* creates the 3 dashes */

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    margin: 0 auto;
    width: calc(var(--nav-height) / 2);
    height: 5px;
    background: var(--bone-white);
    border-radius: 555px;
    transition: var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    outline: none;
    pointer-events: none;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hamburger-menu::before {
    top: calc(var(--nav-height) / 6);
}

.hamburger-menu::after {
    bottom: calc(var(--nav-height) / 6);
}

/* turns the 3 dashes to the X */ 

.hamburger-menu input:checked {
    width: calc(var(--nav-height) * 0.4);
    opacity: 0;
}

.hamburger-menu:has(input:checked)::before {
    width: calc(var(--nav-height) * 0.4);
    rotate: -45deg;
}

.hamburger-menu:has(input:checked)::after {
    width: calc(var(--nav-height) * 0.4);
    rotate: 45deg;
}

/* ==========MAIN BODY CONTENT============= */

main {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

main::-webkit-scrollbar {
  display: none;
}

.home-text {
    position: fixed;
    top: 50%;
    right: 5vw;
    width: 100%;
    text-align: right;
    font-size: 1.5rem;
    color: var(--bone-white);
    text-shadow: 2px 2px 5px black;
    z-index: -10;
}

/* animated goat head popping up from the bottom of the main screen */
.down-icon {
    width: var(--nav-height);
    aspect-ratio: 1/1;
    position: absolute;
    bottom: calc(var(--nav-height) * -1);
    left: 50%;
    transform: translateX(-50%);
    animation: 4s alternate infinite peek;
    animation-delay: 2s; 
    cursor: pointer;
}

.down-icon:hover {
    animation: none;
    bottom: calc(var(--nav-height) * -0.3); 
}

.down-icon a img {
    width: 100%;
}

@keyframes peek {
    0% {
        bottom: calc(var(--nav-height) * -1);
    }
    25% {
        bottom:  calc(var(--nav-height) * -1);
    }
    40% {
        bottom:  calc(var(--nav-height) * -0.3);
    }
    100% {
        bottom:  calc(var(--nav-height) * -0.3);
    }
}

#section-pad {
    height: 100vh;
}

/* ==========SECTION 1 STYLING============= */

#info-container {
    position: relative;
    height: fit-content;
    background: linear-gradient(to bottom, transparent, rgb(0,0,0,0.5) 3%) ;
    margin: 0 auto;
    scroll-snap-align: start;
}

.info-container2 {
    height: 100vh;
}

.info-img {
    width: 100vw;
    aspect-ratio: 16/9;
    position: fixed;
    top: 0;
    right: -110vw;
    z-index: 10;
    background: linear-gradient(to top, transparent, var(--pink) 0.5rem);
}

.info-img img {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 16/9;
    transition: var(--animation-timing);
    z-index: 11;
    top: 0;
    right: -110vw;
    box-shadow: none;
}

.info-content-container, .info-content-container2 {
    width: 100%;
    max-width: 1366px;
    background: var(--pink);
    box-shadow: 0 0 10px 5px rgb(0,0,0,0.75);
    min-height: 100vh;
    height: fit-content;
    padding: 0 1rem;
}

.info-content h3 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.info-content {
    line-height: 1.5rem;
}

.info-content * {
    margin-top: 1rem;
}


/* ==========SECTION 2 STYLING============= */

/* ==========SECTION 3 STYLING============= */

/* ==========SECTION 4 STYLING============= */


/* ==========FOOTER STYLIING============= */




/* ==========RESPONSIVE DESIGN============= */


/* ===== MOBILE: Media queries for small mobile resolution. ===== */

/* Default styling is for mobile res <360px wide (portrait) */

/* Styling for mobile res in landscape */
@media only screen and (min-width: 361px) and (max-width: 700px) { 

    .info-content {
        width: 47.5vw;
        padding-top: 2rem;
        align-content: center;
    }

    .info-img {
        width: 47.5%;
        height: 100vh;
        overflow: hidden;
        box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.5);
    }

    .info-img img {
        height: 100%;
        width: 160%;
        transform:translateX(25%);
    }
}

/* ===== TABLET: Media queries for verticle and horizontal ===== */

/* tablet in portrait */
@media only screen and (min-width: 701px) { 

    .business-logo {
        left: 1rem;
        top: 1rem;
    }

    .hamburger-menu {
        top: 1rem;
        right: 1rem;
    }

    .home-text {
        right: 55%;
        top: 70%;
        font-size: 2.5rem;
    }

    .down-icon {
        left: 35%;
    }

    .info-img {
        box-shadow: none;
        background: linear-gradient(to top, transparent, var(--pink) 2rem);
    }

    .info-img img:first-child {
        transform: rotate(5deg);
    }

    .info-img img:nth-child(2) {
        transform: rotate(2deg);
    }

    .info-img img:nth-child(3) {
        transform: rotate(-10deg);
    }

    .info-img img:last-child {
        transform: rotate(-2deg);
    }

    .info-content {
        width: 100vw;
        padding: 0 2rem;
    }

    .info-content h3 {
        font-size: 4rem;
        padding-top: 3rem;
    }

    .info-content p {
        font-size: 1.75rem;
        line-height: 2.5rem;
        padding-top: 2rem;

    }

    .info-content p:last-child {
        padding-bottom: 3rem;
    }
}


@media only screen and (min-width: 1024px) { 

    .info-content-container {
        max-width: 1366px;
        margin: 0 auto;
    }

    .info-container {
        position: relative;
    }

    .info-content {
        width: 50%;
        padding: 2rem 0 0;
        align-content: center;
    }

    .info-img {
        width: 47.5%;
        top: 25%;
        max-width: calc(1366px / 2);
        background: transparent;
    }

    .info-img img {
        width: 100%;
        transform:translateX(25%) rotate(0deg);

    }
    
}

@media only screen and (min-width: 1366px) { 

}






